div {
    margin-left: 10%;
}


.list div {
    display: none;
    padding-left: 4%;
    padding-top: 2%;
}

.list > p:hover, .s {
    color: white;
    background-color: black;
}




h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 1%;
}


p {
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}

